.form-row{
margin: 20px auto;
padding: 10px;
max-width: 80vw;
}

.btn{
    max-height: 40px;
}

@media(max-width:600px){
   .form-row{
     max-width: 90vw;
     display: grid;
     grid-template-columns: 1fr;
    }
   .btn{
        margin: 0 5px;
    }
   
}